<%- include("template/cabecera.ejs", {tituloweb: 'página de inicio'}) %>

<body>
    <h1 class="text-primary">Titulo de mi sitio web index</h1>
    <h2><%= titulo %></h2>
    <%-include("template/footer.ejs", {footerweb: 'pie de inicio'}) %>
</body>
</html>