<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS <%= tituloweb %></title>
    <!-- https://getbootstrap.com/docs/5.3/getting-started/download/-->
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
</head>